---
BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: false
ColumnLimit: 160
IndentPPDirectives: BeforeHash
NamespaceIndentation: All
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: true
Standard: Latest
SortIncludes: false